* {
    padding: 0;
}

body {
    background-image: url(./images/bg3.jpeg);
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

header {
    background-color: goldenrod;
}


nav img {
    padding: 0px;
}

#websiteheading>h1 {
    color: goldenrod;
    display: block;
    font-family: "Macondo", sans-serif;
    text-align: center;
    margin: 10px;
}

nav ul li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 0px;
    color: saddlebrown;
}

nav ul li:hover {
    text-decoration: underline;
}

#home>h4 {
    color: rgb(237, 209, 139);
    display: block;
    font-family: "Macondo", sans-serif;
    text-align: center;
    margin: 20px;
}

.container-p1 {
    box-sizing: border-box;
    border: 10px saddlebrown;
    border-radius: 10px;
    background-color: rgb(237, 209, 139);
    box-shadow: 10px 12px 10px saddlebrown;
    opacity: 70%;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.container>p {
    color: rgb(86, 68, 24);
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.topratedbooks {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.trendingbooks {
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sech {
    color: goldenrod;
    display: block;
    font-family: "Macondo", sans-serif;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    margin-top: 70px;
}

.sech::before {
    content: "───────────────  ";
}

.sech::after {
    content: "  ───────────────";
}

table.table {
    box-shadow: 10px 12px 10px saddlebrown;
    border: 20px;
    border-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(150, 80, 29) !important;
    color-scheme: saddlebrown;

}

.col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.card {
    box-shadow: 10px 12px 10px saddlebrown;
    color: rgb(224, 178, 85);
    color-scheme: saddlebrown;
    padding: auto;
}

.card-text {
    font-family: 'Times New Roman', Times, serif;
    color: saddlebrown;
    font-size: smaller;
}

.rev {
    width: 70%;
    height: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-rc p {
    font-size: smaller;
    font-family: cursive;
    color: rgb(255, 255, 255);
    padding: 0px 10px 10px 10px;
}

footer {
    p {
        text-align: center;
        color: white;
        text-decoration: wavy;
    }
}

.revh {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.revh>img {
    margin: 1px;
    margin-right: 35px;
    margin-bottom: 0px;
    box-sizing: border-box;
    border-width: 10px;
    border-radius: 30px;
    border-color: saddlebrown;
}

.revh>h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    font-style: italic;
}

.card-rc {
    /* border-top-left-radius: 0px; */
    border-radius: 70px;
    border-top-left-radius: 0px;
    box-shadow: -12px -10px 12px rgb(250, 250, 252);
}

.card {
    transition: transform 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.btn.btn-success {
    align-self: center;
    justify-content: center;
    margin: 0px 70px 10px 70px;
}

.btn.btn-primary.home {
    margin: 0px 50px 10px 50px;
}

.btn.btn-primary {
    margin-top: 40px;
}

.accordian {
    background-color: --bs-warning;
}

.accordion.accordion-flush {
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

.accordion-flush .accordion-header .accordion-button {
    background-color: #8a4605;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.accordion-flush .accordion-body {
    background-color: #b27033;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid goldenrod;
}

.about-us-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #8a4605;
    backface-visibility: 50%;
    border: 1px solid goldenrod;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
}

.about-us-title {
    font-family: "Macondo", sans-serif;
    color: goldenrod;
    font-size: 28px;
    margin-bottom: 10px;
}

.about-us-intro {
    color: gold;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.about-us-section {
    color: gold;
    margin-bottom: 40px;
}

.about-us-subtitle {
    font-family: "Macondo", sans-serif;
    color: gold;
    font-size: 24px;
    margin-bottom: 10px;
}

.about-us-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-bottom: 20px;
    color: gold;
}

.about-us-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-us-list-item {
    margin-bottom: 10px;
}

.about-us-list-item strong {
    font-weight: bold;
}

.contact-us-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: saddlebrown;
    border: 1px solid goldenrod;
    box-shadow: 20px 20px 20px rgb(0, 0, 0);
}

.contact-us-title {
    color: goldenrod;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Macondo", sans-serif;
    font-weight: bold;
}

.contact-us-intro {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-us-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-family: "Macondo", sans-serif;
    display: block;
    margin-bottom: 10px;
    color: goldenrod;
    font-weight: bold;
}

.form-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.form-button {
    background-color: #00698f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #004c6d;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-links li {
    margin-right: 0 auto 0 auto;
}

.footer-links li img {
    width: 25px;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
    border-radius: 25px;
}

footer p {
    font-size: x-small;
}

@media (max-width: 768px) {
    .footer-links {
        flex-direction: column;
    }

    .footer-links li {
        margin-bottom: 10px;
    }

}

.socials-body li {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    background-color: saddlebrown;
    box-sizing: border-box;
    border-radius: 25px;
    padding: auto;
    margin: 20px auto;
    width: 50%;
    height: 5%;
    justify-content: center;
}

.socials-body li i {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding: auto;
    color: goldenrod;
    text-decoration: none;
    text-align: center;
}

.socials-body li a {
    text-decoration: none;
}

.socials-body img {
    border-width: 10px;
    border-color: goldenrod;
    width: 40px;
    padding: 0px;
    margin: 20px;
}